// Main Sass File
$primary-color: #9e2282;
$primary-dark: #71195d;
$gray-100: #f6f6f6;
// $grid-gutter-width: 15px;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$headings-font-weight: bold;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$btn-padding-x-lg: 3rem;
$theme-colors: (
	"primary": $primary-color
);


@import "node_modules/bootstrap/scss/bootstrap";

/* Main title */
.hideTitle {
	position: absolute;
	left: -9999px;
}
/* Base style */
a:not(.btn) {
	border-bottom: 2px solid $primary-color;
	font-weight: bold;
	&:hover {
		color: $primary-dark;
		border-bottom: 2px solid $primary-dark;
	}	
}
// .sidebar {
// 	// position: sticky;
// 	// top: 10px;
// 	// overflow: auto;
// }
// @media (min-width: 992px) {
// 	// .sidebarInner {
// 	// 	position: sticky;
// 	// 	top: 10px;
// 	// 	bottom: -100px;
// 	// }
// }
@media (max-width: 992px) {
	.logo {
		margin-bottom: 1rem;
	}
}
.sidebarInner {
	z-index: 150;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.sidebarInner {
    max-width: 232px;
    position: fixed !important;
	}
}
/* Nav */
.menu {
	box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.39);
	border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #5f6061;
	padding: 0;
  align-items: stretch;
	& .menuAnchor:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	}
	& .menuAnchor:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	}
}
.menuAnchorImg {
	opacity: .5;
	transition: .1s;
}
a.menuAnchor {
	display: flex;
	color: black;
	padding: 0.75rem 11px 0.75rem 18px;
	text-transform: uppercase;
	border: 0;
	&:hover {
		background: $gray-200;
		text-decoration: none;
		border: 0;
		color: $primary-color;
	}
	&:hover .menuAnchorImg {
		opacity: 1;
	}
}
.menuAnchorSVGWrapper {
	width: 40px;
}
/* Search */
.search {
	box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.12);
}
.searchBtn {
	background: $gray-100;
	border: 1px solid $input-border-color;
	border-left: 0;
}
@media (min-width: 992px) {
	.searchBtn {
		padding: 19px 23px 20px 18px;

	}
	.searchInput {
		font-size: $h2-font-size;
		color: rgba 0 0 0, 0.5;
		padding-left: 53px;
	}
}
/* News and popular articles */
.newsCard,
.popCard {
	padding: .5rem 0;
	margin-bottom: .5rem;
}
.newsCardTitle,
.popCardTitle {
	margin: 0;
	line-height: 1.5;
}
.popArticlesImg {
	width: 139px;
	margin: auto;
}
/* Hero */
.hero {
	background: $gray-100;
	padding: 28px 0 0;
}
.heroInner {
	background-image: url(../img/protivopokazaniya.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.heroCard {
	box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.15);
	border-radius: 0;
}
@media (max-width: 576px) {
	.heroCard {
		margin-bottom: 1rem;
	}
}
.heroCardImg {
	// height: 108px;
}
.heroCardText {
	font-size: $font-size-sm;
}
/* Buttons */
.btn-primary {
	box-shadow: 5px 5px 0 $primary-dark;
}
/* Testimonials */
.testimonialCardImgWrapper {
	border: 3px solid $primary-color;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.testimonialCardImg {
	max-width: 50px;
	max-height: 63px;
	margin: auto;
}
.testimonialCardText,
.testimonialCardLink {
	font-size: $font-size-sm;
}
/* Tests */
.tests {
	background: $gray-100;
}
.testsCard {
	background: $gray-100;
}
/* Footer */
.footer {
	font-size: 13px;
	padding: 34px 0;
}